@import 'px2rem.scss';
$designWidth: 750;

body{
  width: 16rem;
  margin: 0 auto;
}

#bigBigWolf {
  position: absolute;
  top: 50%;
  left: 50%;
  width: px2rem(600);
  height: px2rem(600);
  margin-top: px2rem(-300);
  margin-left: px2rem(-300);
}
#bigBigWolf div {
  position: absolute;
}
#bigBigWolf #url a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: px2rem(600);
  height: px2rem(600);
}
#bigBigWolf .face {
  bottom: px2rem(67);
  left: px2rem(127);
  z-index: 0;
  width: px2rem(380);
  height: px2rem(380);
  border: px2rem(3) solid #181818;
  -webkit-border-radius: px2rem(230) px2rem(180) px2rem(300) px2rem(220);
     -moz-border-radius: px2rem(230) px2rem(180) px2rem(300) px2rem(220);
  background: #666b6f;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}
#bigBigWolf .face .left {
  top: px2rem(317);
  left: px2rem(30);
  z-index: 10;
  width: px2rem(180);
  height: px2rem(106);
  border: px2rem(3) solid #181818;
  border-top: 0;
  -webkit-border-bottom-left-radius: px2rem(2800) px2rem(1200);
  -moz-border-radius-bottomleft: px2rem(2800) px2rem(1200);
  background: #666b6f;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}
#bigBigWolf .face .right {
  top: px2rem(-45);
  left: px2rem(105);
  z-index: 10;
  width: px2rem(160);
  height: px2rem(90);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: px2rem(2800) px2rem(2000);
  -moz-border-radius-topleft: px2rem(2800) px2rem(2000);
  background: #666b6f;
  -webkit-transform: rotate(335deg);
     -moz-transform: rotate(335deg);
       -o-transform: rotate(335deg);
          transform: rotate(335deg);
}
#bigBigWolf .face .cover1 {
  top: px2rem(415);
  left: px2rem(160);
  z-index: 20;
  width: px2rem(28);
  height: px2rem(40);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: px2rem(600) px2rem(1200);
  -moz-border-radius-topleft: px2rem(600) px2rem(1200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(700);
  -moz-border-radius-topright: px2rem(400) px2rem(700);
  -webkit-border-bottom-right-radius: px2rem(400) px2rem(150);
  -moz-border-radius-bottomright: px2rem(400) px2rem(150);
  -webkit-border-bottom-left-radius: px2rem(400) px2rem(150);
  -moz-border-radius-bottomleft: px2rem(400) px2rem(150);
  background: #fff;
}
#bigBigWolf .face .cover2 {
  top: px2rem(433);
  left: px2rem(163);
  z-index: 30;
  width: px2rem(40);
  height: px2rem(40);
  -webkit-border-radius: px2rem(20);
     -moz-border-radius: px2rem(20);
  background: #fff;
}
#bigBigWolf .face .cover3 {
  top: px2rem(285);
  left: px2rem(53);
  z-index: 40;
  width: px2rem(74);
  height: px2rem(74);
  -webkit-border-radius: px2rem(37);
     -moz-border-radius: px2rem(37);
  background: #666b6f;
}
#bigBigWolf .face .cover4 {
  top: px2rem(-80);
  left: px2rem(227);
  z-index: 20;
  width: px2rem(25);
  height: px2rem(40);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: px2rem(600) px2rem(1200);
  -moz-border-radius-topleft: px2rem(600) px2rem(1200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(700);
  -moz-border-radius-topright: px2rem(400) px2rem(700);
  -webkit-border-bottom-right-radius: px2rem(400) px2rem(150);
  -moz-border-radius-bottomright: px2rem(400) px2rem(150);
  -webkit-border-bottom-left-radius: px2rem(400) px2rem(150);
  -moz-border-radius-bottomleft: px2rem(400) px2rem(150);
  background: #fff;
  -webkit-transform: rotate(170deg);
     -moz-transform: rotate(170deg);
       -o-transform: rotate(170deg);
          transform: rotate(170deg);
}
#bigBigWolf .face .cover5 {
  top: px2rem(-90);
  left: px2rem(214);
  z-index: 40;
  width: px2rem(60);
  height: px2rem(30);
  background: #fff;
  -webkit-transform: rotate(28deg);
     -moz-transform: rotate(28deg);
       -o-transform: rotate(28deg);
          transform: rotate(28deg);
}
#bigBigWolf .ear {
  z-index: 0;
}
#bigBigWolf .ear .left {
  top: px2rem(167);
  left: px2rem(48);
  z-index: 0;
  width: px2rem(180);
  height: px2rem(120);
  border: px2rem(3) solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: px2rem(295) px2rem(200);
  -moz-border-radius-topleft: px2rem(295) px2rem(200);
  background: #666b6f;
  -webkit-transform: rotate(51deg);
     -moz-transform: rotate(51deg);
       -o-transform: rotate(51deg);
          transform: rotate(51deg);
}
#bigBigWolf .ear .left .inner {
  top: px2rem(88);
  left: px2rem(-3);
  z-index: 10;
  width: px2rem(180);
  height: px2rem(30);
  border: px2rem(3) solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: px2rem(1000) px2rem(200);
  -moz-border-radius-topleft: px2rem(1000) px2rem(200);
  background: #96979c;
}
#bigBigWolf .ear .left .cover1 {
  top: px2rem(30);
  left: px2rem(83);
  z-index: 20;
  width: px2rem(132);
  height: px2rem(65);
  -webkit-border-bottom-right-radius: px2rem(1200) px2rem(200);
  -moz-border-radius-bottomright: px2rem(1200) px2rem(200);
  background: #666b6f;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
#bigBigWolf .ear .left .cover2 {
  top: px2rem(91);
  left: px2rem(111);
  z-index: 30;
  width: px2rem(12);
  height: px2rem(8);
  border: px2rem(3) solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: px2rem(30) px2rem(20);
  -moz-border-radius-topleft: px2rem(30) px2rem(20);
  background: #666b6f;
  -webkit-transform: rotate(345deg);
     -moz-transform: rotate(345deg);
       -o-transform: rotate(345deg);
          transform: rotate(345deg);
}
#bigBigWolf .ear .left .cover3 {
  top: px2rem(104);
  left: px2rem(114);
  z-index: 30;
  width: px2rem(12);
  height: px2rem(6);
  border: px2rem(3) solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: px2rem(30) px2rem(20);
  -moz-border-radius-topleft: px2rem(30) px2rem(20);
  background: #666b6f;
  -webkit-transform: rotate(325deg);
     -moz-transform: rotate(325deg);
       -o-transform: rotate(325deg);
          transform: rotate(325deg);
}
#bigBigWolf .ear .left .cover4 {
  top: px2rem(113);
  left: px2rem(123);
  z-index: 30;
  width: px2rem(11);
  height: px2rem(4);
  border: px2rem(3) solid #181818;
  border-top: 0;
  border-right: 0;
  -webkit-border-bottom-left-radius: px2rem(30) px2rem(20);
  -moz-border-radius-bottomleft: px2rem(30) px2rem(20);
  background: #666b6f;
  -webkit-transform: rotate(62deg);
     -moz-transform: rotate(62deg);
       -o-transform: rotate(62deg);
          transform: rotate(62deg);
}
#bigBigWolf .ear .right {
  top: px2rem(78);
  left: px2rem(340);
  z-index: 10;
  width: px2rem(140);
  height: px2rem(100);
  border: px2rem(3) solid #181818;
  border-left: 0;
  -webkit-border-top-right-radius: px2rem(245) px2rem(190);
  -moz-border-radius-topright: px2rem(245) px2rem(190);
  background: #666b6f;
  -webkit-transform: rotate(275deg);
     -moz-transform: rotate(275deg);
       -o-transform: rotate(275deg);
          transform: rotate(275deg);
}
#bigBigWolf .ear .right .inner {
  top: px2rem(68);
  left: px2rem(-1);
  z-index: 10;
  width: px2rem(140);
  height: px2rem(30);
  border: px2rem(3) solid #181818;
  border-left: 0;
  -webkit-border-top-right-radius: px2rem(1200) px2rem(300);
  -moz-border-radius-topright: px2rem(1200) px2rem(300);
  background: #96979c;
}
#bigBigWolf .ear .right .cover1 {
  top: px2rem(25);
  left: px2rem(-49);
  z-index: 20;
  width: px2rem(120);
  height: px2rem(40);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  -webkit-border-top-right-radius: px2rem(1200) px2rem(300);
  -moz-border-radius-topright: px2rem(1200) px2rem(300);
  background: #666b6f;
  -webkit-transform: rotate(101deg);
     -moz-transform: rotate(101deg);
       -o-transform: rotate(101deg);
          transform: rotate(101deg);
}
#bigBigWolf .ear .right .cover2 {
  top: px2rem(117);
  left: px2rem(-135);
  z-index: 30;
  width: px2rem(145);
  height: px2rem(40);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  -webkit-border-top-right-radius: px2rem(1100) px2rem(300);
  -moz-border-radius-topright: px2rem(1100) px2rem(300);
  background: #666b6f;
  -webkit-transform: rotate(133deg);
     -moz-transform: rotate(133deg);
       -o-transform: rotate(133deg);
          transform: rotate(133deg);
}
#bigBigWolf .ear .right .cover3 {
  top: px2rem(15);
  left: px2rem(-85);
  z-index: 40;
  width: px2rem(80);
  height: px2rem(80);
  background: #666b6f;
}
#bigBigWolf .ear .right .cover4 {
  top: px2rem(144);
  left: px2rem(-142);
  z-index: 50;
  width: px2rem(40);
  height: px2rem(40);
  -webkit-border-radius: px2rem(20);
     -moz-border-radius: px2rem(20);
  background: #666b6f;
}
#bigBigWolf .ear .right .cover5 {
  top: px2rem(87);
  left: px2rem(32);
  z-index: 50;
  width: px2rem(30);
  height: px2rem(30);
  border: px2rem(3) solid #181818;
  border-bottom: 0;
  border-left: 0;
  -webkit-border-radius: px2rem(30);
     -moz-border-radius: px2rem(30);
  background: #fff;
  -webkit-transform: rotate(313deg);
     -moz-transform: rotate(313deg);
       -o-transform: rotate(313deg);
          transform: rotate(313deg);
}
#bigBigWolf .hat {
  top: px2rem(115);
  left: px2rem(137);
  z-index: 40;
  width: px2rem(238);
  height: px2rem(100);
  border: px2rem(3) solid #181818;
  -webkit-border-top-left-radius: px2rem(2000) px2rem(1000);
  -moz-border-radius-topleft: px2rem(2000) px2rem(1000);
  -webkit-border-top-right-radius: px2rem(700) px2rem(700);
  -moz-border-radius-topright: px2rem(700) px2rem(700);
  -webkit-border-bottom-right-radius: px2rem(450) px2rem(450);
  -moz-border-radius-bottomright: px2rem(450) px2rem(450);
  -webkit-border-bottom-left-radius: px2rem(300) px2rem(200);
  -moz-border-radius-bottomleft: px2rem(300) px2rem(200);
  background: #e09e86;
  -webkit-transform: rotate(338deg);
     -moz-transform: rotate(338deg);
       -o-transform: rotate(338deg);
          transform: rotate(338deg);
}
#bigBigWolf .hat .inner {
  top: 1px;
  right: 1px;
  z-index: 0;
  width: px2rem(238);
  height: px2rem(80);
  border: px2rem(3) solid #181818;
  -webkit-border-top-left-radius: px2rem(2400) px2rem(1200);
  -moz-border-radius-topleft: px2rem(2400) px2rem(1200);
  -webkit-border-top-right-radius: px2rem(800) px2rem(800);
  -moz-border-radius-topright: px2rem(800) px2rem(800);
  -webkit-border-bottom-right-radius: px2rem(450) px2rem(450);
  -moz-border-radius-bottomright: px2rem(450) px2rem(450);
  -webkit-border-bottom-left-radius: px2rem(400) px2rem(200);
  -moz-border-radius-bottomleft: px2rem(400) px2rem(200);
  background: #cf6a36;
  -webkit-transform: rotate(357deg);
     -moz-transform: rotate(357deg);
       -o-transform: rotate(357deg);
          transform: rotate(357deg);
}
#bigBigWolf .hat .patch {
  top: -px2rem(7);
  right: -px2rem(3);
  z-index: 10;
  width: px2rem(110);
  height: px2rem(50);
  border: px2rem(3) solid #181818;
  -webkit-border-top-left-radius: px2rem(500) px2rem(300);
  -moz-border-radius-topleft: px2rem(500) px2rem(300);
  -webkit-border-top-right-radius: px2rem(300) px2rem(200);
  -moz-border-radius-topright: px2rem(300) px2rem(200);
  -webkit-border-bottom-right-radius: px2rem(100) px2rem(100);
  -moz-border-radius-bottomright: px2rem(100) px2rem(100);
  -webkit-border-bottom-left-radius: px2rem(100) px2rem(100);
  -moz-border-radius-bottomleft: px2rem(100) px2rem(100);
  background: #efc978;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}
#bigBigWolf .hat .patch .line1,
#bigBigWolf .hat .patch .line2,
#bigBigWolf .hat .patch .line3,
#bigBigWolf .hat .patch .line4,
#bigBigWolf .hat .patch .line5,
#bigBigWolf .hat .patch .line6,
#bigBigWolf .hat .patch .line7,
#bigBigWolf .hat .patch .line8,
#bigBigWolf .hat .patch .line9,
#bigBigWolf .hat .patch .line10 {
  top: px2rem(30);
  left: -px2rem(7);
  z-index: px2rem(20);
  width: px2rem(18);
  height: px2rem(2);
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(350deg);
     -moz-transform: rotate(350deg);
       -o-transform: rotate(350deg);
          transform: rotate(350deg);
}
#bigBigWolf .hat .patch .line2 {
  top: px2rem(42);
  left: -px2rem(13);
  width: px2rem(20);
  -webkit-transform: rotate(340deg);
     -moz-transform: rotate(340deg);
       -o-transform: rotate(340deg);
          transform: rotate(340deg);
}
#bigBigWolf .hat .patch .line3 {
  top: px2rem(50);
  left: px2rem(5);
  width: px2rem(17);
  -webkit-transform: rotate(300deg);
     -moz-transform: rotate(300deg);
       -o-transform: rotate(300deg);
          transform: rotate(300deg);
}
#bigBigWolf .hat .patch .line4 {
  top: px2rem(53);
  left: px2rem(20);
  width: px2rem(17);
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
}
#bigBigWolf .hat .patch .line5 {
  top: px2rem(50);
  left: px2rem(35);
  width: px2rem(14);
  -webkit-transform: rotate(290deg);
     -moz-transform: rotate(290deg);
       -o-transform: rotate(290deg);
          transform: rotate(290deg);
}
#bigBigWolf .hat .patch .line6 {
  top: px2rem(52);
  left: px2rem(50);
  width: px2rem(19);
  -webkit-transform: rotate(275deg);
     -moz-transform: rotate(275deg);
       -o-transform: rotate(275deg);
          transform: rotate(275deg);
}
#bigBigWolf .hat .patch .line7 {
  top: px2rem(50);
  left: px2rem(70);
  width: px2rem(15);
  -webkit-transform: rotate(260deg);
     -moz-transform: rotate(260deg);
       -o-transform: rotate(260deg);
          transform: rotate(290deg);
}
#bigBigWolf .hat .patch .line8 {
  top: px2rem(51);
  left: px2rem(85);
  width: px2rem(19);
  -webkit-transform: rotate(250deg);
     -moz-transform: rotate(250deg);
       -o-transform: rotate(250deg);
          transform: rotate(250deg);
}
#bigBigWolf .hat .patch .line9 {
  top: px2rem(45);
  left: px2rem(102);
  width: px2rem(13);
  -webkit-transform: rotate(230deg);
     -moz-transform: rotate(230deg);
       -o-transform: rotate(230deg);
          transform: rotate(230deg);
}
#bigBigWolf .hat .patch .line10 {
  top: px2rem(34);
  left: px2rem(106);
  width: px2rem(12);
  -webkit-transform: rotate(220deg);
     -moz-transform: rotate(220deg);
       -o-transform: rotate(220deg);
          transform: rotate(220deg);
}
#bigBigWolf .eye {
  top: px2rem(221);
  left: px2rem(213);
  z-index: 20;
  width: px2rem(287);
  height: px2rem(185);
}
#bigBigWolf .eye .left,
#bigBigWolf .eye .right {
  z-index: 0;
  width: px2rem(121);
  height: px2rem(121);
  border: px2rem(3) solid #181818;
  -webkit-border-radius: px2rem(61);
     -moz-border-radius: px2rem(61);
  background: #dbdbdb;
}
#bigBigWolf .eye .left {
  bottom: 0;
  left: 0;
}
#bigBigWolf .eye .right {
  top: 0;
  right: 0;
}
#bigBigWolf .eye .inner {
  top: px2rem(2);
  left: px2rem(2);
  z-index: 10;
  width: px2rem(114);
  height: px2rem(114);
  -webkit-border-radius: px2rem(57);
     -moz-border-radius: px2rem(57);
  background: #fff;
}
#bigBigWolf .eye .pupil {
  top: px2rem(26);
  left: px2rem(8);
  z-index: 20;
  width: px2rem(54);
  height: px2rem(54);
  border: px2rem(2) solid #181818;
  -webkit-border-radius: px2rem(27);
     -moz-border-radius: px2rem(27);
  background: #404972;
  background: -webkit-gradient(linear, 43% 0%, 39% 100%, from(#181818), to(#455289), color-stop(1.0, #455289));
  background: -moz-linear-gradient(50% 25% 260deg, #181818, #455289, #455289 100%);
  -webkit-animation: 'pupil' 2s linear;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pupil {
  0% {
    top: px2rem(26);
    left: px2rem(8);
  }
  25% {
    top: px2rem(33);
    left: px2rem(29);
  }
  50% {
    top: px2rem(40);
    left: px2rem(50);
  }
  75% {
    top: px2rem(33);
    left: px2rem(29);
  }
  100% {
    top: px2rem(26);
    left: px2rem(8);
  }
}
#bigBigWolf .eye .pupil .inner {
  top: px2rem(9);
  left: px2rem(9);
  z-index: 30;
  width: px2rem(36);
  height: px2rem(36);
  -webkit-border-radius: px2rem(18);
     -moz-border-radius: px2rem(18);
  background: #1a1a1a;
}
#bigBigWolf .eye .light1 {
  bottom: px2rem(3);
  left: px2rem(21);
  z-index: 40;
  width: px2rem(16);
  height: px2rem(16);
  -webkit-border-radius: px2rem(15) px2rem(7) px2rem(10) px2rem(10);
     -moz-border-radius: px2rem(20) px2rem(7) px2rem(20) px2rem(10);
  background: #fff;
  -webkit-transform: rotate(320deg);
     -moz-transform: rotate(320deg);
       -o-transform: rotate(320deg);
          transform: rotate(320deg);
}
#bigBigWolf .eye .light2 {
  bottom: px2rem(11);
  left: px2rem(7);
  z-index: 40;
  width: px2rem(14);
  height: px2rem(6);
  -webkit-border-top-left-radius: px2rem(500) px2rem(300);
  -moz-border-radius-topleft: px2rem(20) px2rem(20);
  -webkit-border-top-right-radius: px2rem(300) px2rem(200);
  -moz-border-radius-topright: px2rem(30) px2rem(20);
  -webkit-border-bottom-right-radius: px2rem(100) px2rem(100);
  -moz-border-radius-bottomright: px2rem(5) px2rem(5);
  -webkit-border-bottom-left-radius: px2rem(100) px2rem(100);
  -moz-border-radius-bottomleft: px2rem(5) px2rem(5);
  background: #fff;
  -webkit-transform: rotate(285deg);
     -moz-transform: rotate(285deg);
       -o-transform: rotate(285deg);
          transform: rotate(285deg);
}
#bigBigWolf .eye .light3 {
  top: px2rem(4);
  right: px2rem(2);
  z-index: 40;
  width: px2rem(30);
  height: px2rem(13);
  -webkit-border-top-left-radius: px2rem(40) px2rem(40);
  -moz-border-radius-topleft: px2rem(40) px2rem(40);
  -webkit-border-top-right-radius: px2rem(100) px2rem(50);
  -moz-border-radius-topright: px2rem(100) px2rem(50);
  -webkit-border-bottom-right-radius: px2rem(15) px2rem(15);
  -moz-border-radius-bottomright: px2rem(15) px2rem(15);
  -webkit-border-bottom-left-radius: px2rem(15) px2rem(15);
  -moz-border-radius-bottomleft: px2rem(15) px2rem(15);
  background: #fff;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}
#bigBigWolf .eyebrow {
  top: px2rem(173);
  left: px2rem(187);
  z-index: 70;
  width: px2rem(280);
  height: px2rem(130);
}
#bigBigWolf .eyebrow .left {
  top: px2rem(48);
  left: 0;
  z-index: 0;
  width: px2rem(110);
  height: px2rem(40);
  -webkit-border-top-left-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topleft: px2rem(400) px2rem(200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topright: px2rem(400) px2rem(200);
  background: #181818;
  -webkit-transform: rotate(330deg);
     -moz-transform: rotate(330deg);
       -o-transform: rotate(330deg);
          transform: rotate(330deg);
}
#bigBigWolf .eyebrow .left .inner {
  top: px2rem(20);
  left: 0;
  z-index: 0;
  width: px2rem(120);
  height: px2rem(30);
  -webkit-border-top-left-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topleft: px2rem(400) px2rem(200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topright: px2rem(400) px2rem(200);
  background: #666b6f;
}
#bigBigWolf .eyebrow .left .eyebrow1,
#bigBigWolf .eyebrow .left .eyebrow2,
#bigBigWolf .eyebrow .right .eyebrow1 {
  top: px2rem(36);
  left: -px2rem(22);
  z-index: px2rem(10);
  width: px2rem(22);
  height: px2rem(2);
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(86deg);
     -moz-transform: rotate(86deg);
       -o-transform: rotate(86deg);
          transform: rotate(86deg);
}
#bigBigWolf .eyebrow .left .eyebrow2 {
  top: px2rem(32);
  left: -px2rem(15);
  width: px2rem(20);
}
#bigBigWolf .eyebrow .right .eyebrow1 {
  top: px2rem(24);
  left: px2rem(93);
  width: px2rem(20);
}
#bigBigWolf .eyebrow .right {
  top: -px2rem(3);
  right: px2rem(17);
  z-index: 0;
  width: px2rem(100);
  height: px2rem(40);
  -webkit-border-top-left-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topleft: px2rem(400) px2rem(200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topright: px2rem(400) px2rem(200);
  background: #181818;
  -webkit-transform: rotate(355deg);
     -moz-transform: rotate(355deg);
       -o-transform: rotate(355deg);
          transform: rotate(355deg);
}
#bigBigWolf .eyebrow .right .inner {
  top: px2rem(20);
  right: -px2rem(7);
  z-index: 0;
  width: px2rem(120);
  height: px2rem(30);
  -webkit-border-top-left-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topleft: px2rem(400) px2rem(200);
  -webkit-border-top-right-radius: px2rem(400) px2rem(200);
  -moz-border-radius-topright: px2rem(400) px2rem(200);
  background: #666b6f;
}
#bigBigWolf .nose {
  right: px2rem(158);
  bottom: px2rem(203);
  z-index: 30;
  width: px2rem(74);
  height: px2rem(74);
  -webkit-border-radius: px2rem(160) px2rem(40) px2rem(160) px2rem(40);
     -moz-border-radius: px2rem(160) px2rem(30) px2rem(160) px2rem(40);
  background: #4b4b4b;
  -webkit-transform: rotate(25deg);
     -moz-transform: rotate(25deg);
       -o-transform: rotate(25deg);
          transform: rotate(25deg);
}
#bigBigWolf .nose .outer {
  top: -px2rem(2);
  right: px2rem(1);
  z-index: 0;
  width: px2rem(72);
  height: px2rem(72);
  -webkit-border-radius: px2rem(150) px2rem(40) px2rem(150) px2rem(40);
     -moz-border-radius: px2rem(150) px2rem(40) px2rem(150) px2rem(40);
  background: #181818;
  -webkit-transform: rotate(2deg);
     -moz-transform: rotate(2deg);
       -o-transform: rotate(2deg);
          transform: rotate(2deg);
}
#bigBigWolf .nose .inner {
  top: px2rem(13);
  right: px2rem(18);
  z-index: 10;
  width: px2rem(24);
  height: px2rem(24);
  -webkit-border-radius: px2rem(150) px2rem(50) px2rem(150) px2rem(50);
     -moz-border-radius: px2rem(150) px2rem(50) px2rem(150) px2rem(50);
  background: #4f4f4f;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
#bigBigWolf .nose .light {
  top: px2rem(3);
  right: px2rem(16);
  z-index: 20;
  width: px2rem(20);
  height: px2rem(20);
  -webkit-border-radius: px2rem(150) px2rem(70) px2rem(150) px2rem(70);
     -moz-border-radius: px2rem(150) px2rem(70) px2rem(150) px2rem(70);
  background: #fff;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
#bigBigWolf .mouth {
  right: px2rem(62);
  bottom: px2rem(108);
  z-index: 50;
  width: px2rem(290);
  height: px2rem(60);
  border: px2rem(3) solid #181818;
  -webkit-border-top-left-radius: px2rem(700) 0;
  -moz-border-radius-topleft: px2rem(700) 0;
  -webkit-border-top-right-radius: px2rem(700) 0;
  -moz-border-radius-topright: px2rem(700) 0;
  -webkit-border-bottom-right-radius: px2rem(2800) px2rem(1200);
  -moz-border-radius-bottomright: px2rem(2800) px2rem(1200);
  -webkit-border-bottom-left-radius: px2rem(2800) px2rem(1200);
  -moz-border-radius-bottomleft: px2rem(2800) px2rem(1200);
  background: #fff;
  -webkit-transform: rotate(341deg);
     -moz-transform: rotate(341deg);
       -o-transform: rotate(341deg);
          transform: rotate(341deg);
}
#bigBigWolf .mouth .inner {
  right: -px2rem(3);
  bottom: px2rem(41);
  z-index: 0;
  width: px2rem(289);
  height: px2rem(20);
  border: px2rem(3) solid #181818;
  border-top: 0;
  -webkit-border-top-left-radius: px2rem(700) 0;
  -moz-border-radius-topleft: px2rem(700) 0;
  -webkit-border-top-right-radius: px2rem(700) 0;
  -moz-border-radius-topright: px2rem(700) 0;
  -webkit-border-bottom-right-radius: px2rem(7800) px2rem(1500);
  -moz-border-radius-bottomright: px2rem(7800) px2rem(1500);
  -webkit-border-bottom-left-radius: px2rem(7800) px2rem(1500);
  -moz-border-radius-bottomleft: px2rem(7800) px2rem(1500);
  background: #666b6f;
}
#bigBigWolf .tooth1,
#bigBigWolf .tooth2,
#bigBigWolf .tooth3,
#bigBigWolf .tooth4,
#bigBigWolf .tooth5,
#bigBigWolf .tooth6,
#bigBigWolf .tooth7,
#bigBigWolf .tooth8,
#bigBigWolf .tooth9,
#bigBigWolf .tooth10,
#bigBigWolf .tooth11,
#bigBigWolf .tooth12,
#bigBigWolf .tooth13,
#bigBigWolf .tooth14,
#bigBigWolf .tooth15,
#bigBigWolf .tooth16,
#bigBigWolf .tooth17,
#bigBigWolf .tooth18,
#bigBigWolf .tooth19,
#bigBigWolf .tooth20,
#bigBigWolf .tooth121,
#bigBigWolf .tooth122,
#bigBigWolf .tooth123 {
  top: px2rem(18);
  left: -px2rem(1);
  z-index: px2rem(60);
  width: px2rem(20);
  height: px2rem(2);
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(26deg);
     -moz-transform: rotate(26deg);
       -o-transform: rotate(26deg);
          transform: rotate(26deg);
}
#bigBigWolf .tooth2 {
  top: px2rem(12);
  left: px2rem(13);
  width: px2rem(22);
  -webkit-transform: rotate(125deg);
     -moz-transform: rotate(122deg);
       -o-transform: rotate(125deg);
          transform: rotate(125deg);
}
#bigBigWolf .tooth3 {
  top: px2rem(17);
  left: px2rem(18);
  width: px2rem(30);
  -webkit-transform: rotate(76deg);
     -moz-transform: rotate(76deg);
       -o-transform: rotate(76deg);
          transform: rotate(76deg);
}
#bigBigWolf .tooth4 {
  top: px2rem(26);
  left: px2rem(36);
  width: px2rem(9);
  -webkit-transform: rotate(340deg);
     -moz-transform: rotate(340deg);
       -o-transform: rotate(340deg);
          transform: rotate(340deg);
}
#bigBigWolf .tooth5 {
  top: px2rem(30);
  left: px2rem(40);
  width: px2rem(12);
  -webkit-transform: rotate(70deg);
     -moz-transform: rotate(70deg);
       -o-transform: rotate(70deg);
          transform: rotate(70deg);
}
#bigBigWolf .tooth6 {
  top: px2rem(35);
  left: px2rem(46);
  width: px2rem(14);
  -webkit-transform: rotate(12deg);
     -moz-transform: rotate(12deg);
       -o-transform: rotate(12deg);
          transform: rotate(12deg);
}
#bigBigWolf .tooth7 {
  top: px2rem(37);
  left: px2rem(58);
  width: px2rem(24);
  -webkit-transform: rotate(12deg);
     -moz-transform: rotate(12deg);
       -o-transform: rotate(12deg);
          transform: rotate(12deg);
}
#bigBigWolf .tooth8,
#bigBigWolf .tooth10 {
  top: px2rem(16);
  left: px2rem(21);
  width: px2rem(20);
  height: px2rem(1);
  background: #fff;
  -webkit-transform: rotate(76deg);
     -moz-transform: rotate(76deg);
       -o-transform: rotate(76deg);
          transform: rotate(76deg);
}
#bigBigWolf .tooth9,
#bigBigWolf .tooth11,
#bigBigWolf .tooth12 {
  top: px2rem(15);
  left: px2rem(14);
  width: px2rem(20);
  height: px2rem(1);
  background: #fff;
  -webkit-transform: rotate(122deg);
     -moz-transform: rotate(122deg);
       -o-transform: rotate(122deg);
          transform: rotate(122deg);
}
#bigBigWolf .tooth10 {
  top: px2rem(18);
  left: px2rem(21);
  height: px2rem(2);
}
#bigBigWolf .tooth11 {
  top: px2rem(20);
  left: px2rem(14);
  height: px2rem(3);
}
#bigBigWolf .tooth12 {
  top: px2rem(18);
  left: px2rem(13);
  height: px2rem(2);
}
#bigBigWolf .tooth13 {
  top: px2rem(17);
  left: px2rem(270);
  width: px2rem(18);
  -webkit-transform: rotate(335deg);
     -moz-transform: rotate(335deg);
       -o-transform: rotate(335deg);
          transform: rotate(335deg);
}
#bigBigWolf .tooth14 {
  top: px2rem(11);
  left: px2rem(254);
  width: px2rem(22);
  -webkit-transform: rotate(55deg);
     -moz-transform: rotate(55deg);
       -o-transform: rotate(55deg);
          transform: rotate(55deg);
}
#bigBigWolf .tooth15 {
  top: px2rem(16);
  left: px2rem(242);
  width: px2rem(29);
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}
#bigBigWolf .tooth16 {
  top: px2rem(25);
  left: px2rem(243);
  width: px2rem(13);
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}
#bigBigWolf .tooth17 {
  top: px2rem(29);
  left: px2rem(237);
  width: px2rem(11);
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}
#bigBigWolf .tooth18 {
  top: px2rem(36);
  left: px2rem(219);
  width: px2rem(24);
  -webkit-transform: rotate(165deg);
     -moz-transform: rotate(165deg);
       -o-transform: rotate(165deg);
          transform: rotate(165deg);
}
#bigBigWolf .tooth19,
#bigBigWolf .tooth21,
#bigBigWolf .tooth23 {
  top: px2rem(15);
  left: px2rem(255);
  width: px2rem(22);
  height: px2rem(1);
  background: #fff;
  -webkit-transform: rotate(55deg);
     -moz-transform: rotate(55deg);
       -o-transform: rotate(55deg);
          transform: rotate(55deg);
}
#bigBigWolf .tooth20,
#bigBigWolf .tooth22 {
  top: px2rem(17);
  left: px2rem(247);
  width: px2rem(22);
  height: px2rem(1);
  background: #fff;
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}
#bigBigWolf .tooth21 {
  top: px2rem(16);
  left: px2rem(255);
  height: px2rem(2);
}
#bigBigWolf .tooth22 {
  top: px2rem(19);
  left: px2rem(248);
  height: px2rem(4);
}
#bigBigWolf .tooth23 {
  top: px2rem(19);
  left: px2rem(255);
  height: px2rem(2);
}
#bigBigWolf .beard {
  bottom: px2rem(50);
  left: px2rem(190);
  z-index: 80;
  width: px2rem(370);
  height: px2rem(200);
}
#bigBigWolf .beard1,
#bigBigWolf .beard2,
#bigBigWolf .beard3,
#bigBigWolf .beard4,
#bigBigWolf .beard5,
#bigBigWolf .beard6,
#bigBigWolf .beard7,
#bigBigWolf .beard8,
#bigBigWolf .beard9,
#bigBigWolf .beard10,
#bigBigWolf .beard11,
#bigBigWolf .beard12 {
  top: px2rem(32);
  right: -px2rem(1);
  z-index: 0;
  width: px2rem(40);
  height: px2rem(2);
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}
#bigBigWolf .beard2 {
  top: px2rem(68);
  right: px2rem(23);
  width: px2rem(24);
  -webkit-transform: rotate(355deg);
     -moz-transform: rotate(355deg);
       -o-transform: rotate(355deg);
          transform: rotate(355deg);
}
#bigBigWolf .beard3 {
  top: px2rem(90);
  right: px2rem(34);
  width: px2rem(22);
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}
#bigBigWolf .beard4 {
  top: px2rem(120);
  right: px2rem(54);
  width: px2rem(28);
  -webkit-transform: rotate(50deg);
     -moz-transform: rotate(50deg);
       -o-transform: rotate(50deg);
          transform: rotate(50deg);
}
#bigBigWolf .beard5 {
  top: px2rem(132);
  right: px2rem(89);
  width: px2rem(22);
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}
#bigBigWolf .beard6 {
  top: px2rem(148);
  right: px2rem(115);
  width: px2rem(16);
  -webkit-transform: rotate(70deg);
     -moz-transform: rotate(70deg);
       -o-transform: rotate(70deg);
          transform: rotate(70deg);
}
#bigBigWolf .beard7 {
  top: px2rem(162);
  right: px2rem(145);
  width: px2rem(24);
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
#bigBigWolf .beard8 {
  top: px2rem(166);
  right: px2rem(175);
  width: px2rem(16);
  -webkit-transform: rotate(110deg);
     -moz-transform: rotate(110deg);
       -o-transform: rotate(110deg);
          transform: rotate(110deg);
}
#bigBigWolf .beard9 {
  top: px2rem(173);
  right: px2rem(210);
  width: px2rem(22);
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}
#bigBigWolf .beard10 {
  top: px2rem(173);
  right: px2rem(245);
  width: px2rem(14);
  -webkit-transform: rotate(130deg);
     -moz-transform: rotate(130deg);
       -o-transform: rotate(130deg);
          transform: rotate(130deg);
}
#bigBigWolf .beard11 {
  top: px2rem(168);
  right: px2rem(275);
  width: px2rem(20);
  -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
       -o-transform: rotate(120deg);
          transform: rotate(120deg);
}
#bigBigWolf .beard12 {
  top: px2rem(156);
  right: px2rem(300);
  width: px2rem(16);
  -webkit-transform: rotate(140deg);
     -moz-transform: rotate(140deg);
       -o-transform: rotate(140deg);
          transform: rotate(140deg);
}
#bigBigWolf .scar,
#bigBigWolf .scar1,
#bigBigWolf .scar2,
#bigBigWolf .scar3,
#bigBigWolf .scar4,
#bigBigWolf .scar5 {
  bottom: px2rem(154);
  left: px2rem(142);
  z-index: px2rem(60);
  width: px2rem(120);
  height: px2rem(2);
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(43deg);
     -moz-transform: rotate(43deg);
       -o-transform: rotate(43deg);
          transform: rotate(43deg);
}
#bigBigWolf .scar1 {
  top: -px2rem(5);
  left: -px2rem(2);
  width: px2rem(25);
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
#bigBigWolf .scar2 {
  top: px2rem(2);
  left: px2rem(20);
  width: px2rem(29);
  -webkit-transform: rotate(80deg);
     -moz-transform: rotate(80deg);
       -o-transform: rotate(80deg);
          transform: rotate(80deg);
}
#bigBigWolf .scar3 {
  top: -px2rem(2);
  left: px2rem(50);
  width: px2rem(29);
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
#bigBigWolf .scar4 {
  top: -px2rem(4);
  left: px2rem(74);
  width: px2rem(22);
  -webkit-transform: rotate(92deg);
     -moz-transform: rotate(92deg);
       -o-transform: rotate(92deg);
          transform: rotate(92deg);
}
#bigBigWolf .scar5 {
  top: -px2rem(2);
  left: px2rem(95);
  width: px2rem(25);
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
