body{
  width: 16rem;
  margin: 0 auto;
}
#bigBigWolf {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12.8rem;
  height: 12.8rem;
  margin-top: -6.4rem;
  margin-left: -6.4rem;
}

#bigBigWolf div {
  position: absolute;
}

#bigBigWolf #url a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 12.8rem;
  height: 12.8rem;
}

#bigBigWolf .face {
  bottom: 1.42933rem;
  left: 2.70933rem;
  z-index: 0;
  width: 8.10667rem;
  height: 8.10667rem;
  border: .064rem solid #181818;
  -webkit-border-radius: 4.90667rem 3.84rem 6.4rem 4.69333rem;
     -moz-border-radius: 4.90667rem 3.84rem 6.4rem 4.69333rem;
  background: #666b6f;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}

#bigBigWolf .face .left {
  top: 6.76267rem;
  left: .64rem;
  z-index: 10;
  width: 3.84rem;
  height: 2.26133rem;
  border: .064rem solid #181818;
  border-top: 0;
  -webkit-border-bottom-left-radius: 59.73333rem 25.6rem;
  -moz-border-radius-bottomleft: 59.73333rem 25.6rem;
  background: #666b6f;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}

#bigBigWolf .face .right {
  top: -.96rem;
  left: 2.24rem;
  z-index: 10;
  width: 3.41333rem;
  height: 1.92rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: 59.73333rem 42.66667rem;
  -moz-border-radius-topleft: 59.73333rem 42.66667rem;
  background: #666b6f;
  -webkit-transform: rotate(335deg);
     -moz-transform: rotate(335deg);
       -o-transform: rotate(335deg);
          transform: rotate(335deg);
}

#bigBigWolf .face .cover1 {
  top: 8.85333rem;
  left: 3.41333rem;
  z-index: 20;
  width: .59733rem;
  height: .85333rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: 12.8rem 25.6rem;
  -moz-border-radius-topleft: 12.8rem 25.6rem;
  -webkit-border-top-right-radius: 8.53333rem 14.93333rem;
  -moz-border-radius-topright: 8.53333rem 14.93333rem;
  -webkit-border-bottom-right-radius: 8.53333rem 3.2rem;
  -moz-border-radius-bottomright: 8.53333rem 3.2rem;
  -webkit-border-bottom-left-radius: 8.53333rem 3.2rem;
  -moz-border-radius-bottomleft: 8.53333rem 3.2rem;
  background: #fff;
}

#bigBigWolf .face .cover2 {
  top: 9.23733rem;
  left: 3.47733rem;
  z-index: 30;
  width: .85333rem;
  height: .85333rem;
  -webkit-border-radius: .42667rem;
     -moz-border-radius: .42667rem;
  background: #fff;
}

#bigBigWolf .face .cover3 {
  top: 6.08rem;
  left: 1.13067rem;
  z-index: 40;
  width: 1.57867rem;
  height: 1.57867rem;
  -webkit-border-radius: .78933rem;
     -moz-border-radius: .78933rem;
  background: #666b6f;
}

#bigBigWolf .face .cover4 {
  top: -1.70667rem;
  left: 4.84267rem;
  z-index: 20;
  width: .53333rem;
  height: .85333rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  -webkit-border-top-left-radius: 12.8rem 25.6rem;
  -moz-border-radius-topleft: 12.8rem 25.6rem;
  -webkit-border-top-right-radius: 8.53333rem 14.93333rem;
  -moz-border-radius-topright: 8.53333rem 14.93333rem;
  -webkit-border-bottom-right-radius: 8.53333rem 3.2rem;
  -moz-border-radius-bottomright: 8.53333rem 3.2rem;
  -webkit-border-bottom-left-radius: 8.53333rem 3.2rem;
  -moz-border-radius-bottomleft: 8.53333rem 3.2rem;
  background: #fff;
  -webkit-transform: rotate(170deg);
     -moz-transform: rotate(170deg);
       -o-transform: rotate(170deg);
          transform: rotate(170deg);
}

#bigBigWolf .face .cover5 {
  top: -1.92rem;
  left: 4.56533rem;
  z-index: 40;
  width: 1.28rem;
  height: .64rem;
  background: #fff;
  -webkit-transform: rotate(28deg);
     -moz-transform: rotate(28deg);
       -o-transform: rotate(28deg);
          transform: rotate(28deg);
}

#bigBigWolf .ear {
  z-index: 0;
}

#bigBigWolf .ear .left {
  top: 3.56267rem;
  left: 1.024rem;
  z-index: 0;
  width: 3.84rem;
  height: 2.56rem;
  border: .064rem solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: 6.29333rem 4.26667rem;
  -moz-border-radius-topleft: 6.29333rem 4.26667rem;
  background: #666b6f;
  -webkit-transform: rotate(51deg);
     -moz-transform: rotate(51deg);
       -o-transform: rotate(51deg);
          transform: rotate(51deg);
}

#bigBigWolf .ear .left .inner {
  top: 1.87733rem;
  left: -.064rem;
  z-index: 10;
  width: 3.84rem;
  height: .64rem;
  border: .064rem solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: 21.33333rem 4.26667rem;
  -moz-border-radius-topleft: 21.33333rem 4.26667rem;
  background: #96979c;
}

#bigBigWolf .ear .left .cover1 {
  top: .64rem;
  left: 1.77067rem;
  z-index: 20;
  width: 2.816rem;
  height: 1.38667rem;
  -webkit-border-bottom-right-radius: 25.6rem 4.26667rem;
  -moz-border-radius-bottomright: 25.6rem 4.26667rem;
  background: #666b6f;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

#bigBigWolf .ear .left .cover2 {
  top: 1.94133rem;
  left: 2.368rem;
  z-index: 30;
  width: .256rem;
  height: .17067rem;
  border: .064rem solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: .64rem .42667rem;
  -moz-border-radius-topleft: .64rem .42667rem;
  background: #666b6f;
  -webkit-transform: rotate(345deg);
     -moz-transform: rotate(345deg);
       -o-transform: rotate(345deg);
          transform: rotate(345deg);
}

#bigBigWolf .ear .left .cover3 {
  top: 2.21867rem;
  left: 2.432rem;
  z-index: 30;
  width: .256rem;
  height: .128rem;
  border: .064rem solid #181818;
  border-right: 0;
  -webkit-border-top-left-radius: .64rem .42667rem;
  -moz-border-radius-topleft: .64rem .42667rem;
  background: #666b6f;
  -webkit-transform: rotate(325deg);
     -moz-transform: rotate(325deg);
       -o-transform: rotate(325deg);
          transform: rotate(325deg);
}

#bigBigWolf .ear .left .cover4 {
  top: 2.41067rem;
  left: 2.624rem;
  z-index: 30;
  width: .23467rem;
  height: .08533rem;
  border: .064rem solid #181818;
  border-top: 0;
  border-right: 0;
  -webkit-border-bottom-left-radius: .64rem .42667rem;
  -moz-border-radius-bottomleft: .64rem .42667rem;
  background: #666b6f;
  -webkit-transform: rotate(62deg);
     -moz-transform: rotate(62deg);
       -o-transform: rotate(62deg);
          transform: rotate(62deg);
}

#bigBigWolf .ear .right {
  top: 1.664rem;
  left: 7.25333rem;
  z-index: 10;
  width: 2.98667rem;
  height: 2.13333rem;
  border: .064rem solid #181818;
  border-left: 0;
  -webkit-border-top-right-radius: 5.22667rem 4.05333rem;
  -moz-border-radius-topright: 5.22667rem 4.05333rem;
  background: #666b6f;
  -webkit-transform: rotate(275deg);
     -moz-transform: rotate(275deg);
       -o-transform: rotate(275deg);
          transform: rotate(275deg);
}

#bigBigWolf .ear .right .inner {
  top: 1.45067rem;
  left: -.02133rem;
  z-index: 10;
  width: 2.98667rem;
  height: .64rem;
  border: .064rem solid #181818;
  border-left: 0;
  -webkit-border-top-right-radius: 25.6rem 6.4rem;
  -moz-border-radius-topright: 25.6rem 6.4rem;
  background: #96979c;
}

#bigBigWolf .ear .right .cover1 {
  top: .53333rem;
  left: -1.04533rem;
  z-index: 20;
  width: 2.56rem;
  height: .85333rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  -webkit-border-top-right-radius: 25.6rem 6.4rem;
  -moz-border-radius-topright: 25.6rem 6.4rem;
  background: #666b6f;
  -webkit-transform: rotate(101deg);
     -moz-transform: rotate(101deg);
       -o-transform: rotate(101deg);
          transform: rotate(101deg);
}

#bigBigWolf .ear .right .cover2 {
  top: 2.496rem;
  left: -2.88rem;
  z-index: 30;
  width: 3.09333rem;
  height: .85333rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  -webkit-border-top-right-radius: 23.46667rem 6.4rem;
  -moz-border-radius-topright: 23.46667rem 6.4rem;
  background: #666b6f;
  -webkit-transform: rotate(133deg);
     -moz-transform: rotate(133deg);
       -o-transform: rotate(133deg);
          transform: rotate(133deg);
}

#bigBigWolf .ear .right .cover3 {
  top: .32rem;
  left: -1.81333rem;
  z-index: 40;
  width: 1.70667rem;
  height: 1.70667rem;
  background: #666b6f;
}

#bigBigWolf .ear .right .cover4 {
  top: 3.072rem;
  left: -3.02933rem;
  z-index: 50;
  width: .85333rem;
  height: .85333rem;
  -webkit-border-radius: .42667rem;
     -moz-border-radius: .42667rem;
  background: #666b6f;
}

#bigBigWolf .ear .right .cover5 {
  top: 1.856rem;
  left: .68267rem;
  z-index: 50;
  width: .64rem;
  height: .64rem;
  border: .064rem solid #181818;
  border-bottom: 0;
  border-left: 0;
  -webkit-border-radius: .64rem;
     -moz-border-radius: .64rem;
  background: #fff;
  -webkit-transform: rotate(313deg);
     -moz-transform: rotate(313deg);
       -o-transform: rotate(313deg);
          transform: rotate(313deg);
}

#bigBigWolf .hat {
  top: 2.45333rem;
  left: 2.92267rem;
  z-index: 40;
  width: 5.07733rem;
  height: 2.13333rem;
  border: .064rem solid #181818;
  -webkit-border-top-left-radius: 42.66667rem 21.33333rem;
  -moz-border-radius-topleft: 42.66667rem 21.33333rem;
  -webkit-border-top-right-radius: 14.93333rem 14.93333rem;
  -moz-border-radius-topright: 14.93333rem 14.93333rem;
  -webkit-border-bottom-right-radius: 9.6rem 9.6rem;
  -moz-border-radius-bottomright: 9.6rem 9.6rem;
  -webkit-border-bottom-left-radius: 6.4rem 4.26667rem;
  -moz-border-radius-bottomleft: 6.4rem 4.26667rem;
  background: #e09e86;
  -webkit-transform: rotate(338deg);
     -moz-transform: rotate(338deg);
       -o-transform: rotate(338deg);
          transform: rotate(338deg);
}

#bigBigWolf .hat .inner {
  top: 1px;
  right: 1px;
  z-index: 0;
  width: 5.07733rem;
  height: 1.70667rem;
  border: .064rem solid #181818;
  -webkit-border-top-left-radius: 51.2rem 25.6rem;
  -moz-border-radius-topleft: 51.2rem 25.6rem;
  -webkit-border-top-right-radius: 17.06667rem 17.06667rem;
  -moz-border-radius-topright: 17.06667rem 17.06667rem;
  -webkit-border-bottom-right-radius: 9.6rem 9.6rem;
  -moz-border-radius-bottomright: 9.6rem 9.6rem;
  -webkit-border-bottom-left-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-bottomleft: 8.53333rem 4.26667rem;
  background: #cf6a36;
  -webkit-transform: rotate(357deg);
     -moz-transform: rotate(357deg);
       -o-transform: rotate(357deg);
          transform: rotate(357deg);
}

#bigBigWolf .hat .patch {
  top: -px2rem(7);
  right: -px2rem(3);
  z-index: 10;
  width: 2.34667rem;
  height: 1.06667rem;
  border: .064rem solid #181818;
  -webkit-border-top-left-radius: 10.66667rem 6.4rem;
  -moz-border-radius-topleft: 10.66667rem 6.4rem;
  -webkit-border-top-right-radius: 6.4rem 4.26667rem;
  -moz-border-radius-topright: 6.4rem 4.26667rem;
  -webkit-border-bottom-right-radius: 2.13333rem 2.13333rem;
  -moz-border-radius-bottomright: 2.13333rem 2.13333rem;
  -webkit-border-bottom-left-radius: 2.13333rem 2.13333rem;
  -moz-border-radius-bottomleft: 2.13333rem 2.13333rem;
  background: #efc978;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}

#bigBigWolf .hat .patch .line1,
#bigBigWolf .hat .patch .line2,
#bigBigWolf .hat .patch .line3,
#bigBigWolf .hat .patch .line4,
#bigBigWolf .hat .patch .line5,
#bigBigWolf .hat .patch .line6,
#bigBigWolf .hat .patch .line7,
#bigBigWolf .hat .patch .line8,
#bigBigWolf .hat .patch .line9,
#bigBigWolf .hat .patch .line10 {
  top: .64rem;
  left: -px2rem(7);
  z-index: .42667rem;
  width: .384rem;
  height: .04267rem;
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(350deg);
     -moz-transform: rotate(350deg);
       -o-transform: rotate(350deg);
          transform: rotate(350deg);
}

#bigBigWolf .hat .patch .line2 {
  top: .896rem;
  left: -px2rem(13);
  width: .42667rem;
  -webkit-transform: rotate(340deg);
     -moz-transform: rotate(340deg);
       -o-transform: rotate(340deg);
          transform: rotate(340deg);
}

#bigBigWolf .hat .patch .line3 {
  top: 1.06667rem;
  left: .10667rem;
  width: .36267rem;
  -webkit-transform: rotate(300deg);
     -moz-transform: rotate(300deg);
       -o-transform: rotate(300deg);
          transform: rotate(300deg);
}

#bigBigWolf .hat .patch .line4 {
  top: 1.13067rem;
  left: .42667rem;
  width: .36267rem;
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
}

#bigBigWolf .hat .patch .line5 {
  top: 1.06667rem;
  left: .74667rem;
  width: .29867rem;
  -webkit-transform: rotate(290deg);
     -moz-transform: rotate(290deg);
       -o-transform: rotate(290deg);
          transform: rotate(290deg);
}

#bigBigWolf .hat .patch .line6 {
  top: 1.10933rem;
  left: 1.06667rem;
  width: .40533rem;
  -webkit-transform: rotate(275deg);
     -moz-transform: rotate(275deg);
       -o-transform: rotate(275deg);
          transform: rotate(275deg);
}

#bigBigWolf .hat .patch .line7 {
  top: 1.06667rem;
  left: 1.49333rem;
  width: .32rem;
  -webkit-transform: rotate(260deg);
     -moz-transform: rotate(260deg);
       -o-transform: rotate(260deg);
          transform: rotate(290deg);
}

#bigBigWolf .hat .patch .line8 {
  top: 1.088rem;
  left: 1.81333rem;
  width: .40533rem;
  -webkit-transform: rotate(250deg);
     -moz-transform: rotate(250deg);
       -o-transform: rotate(250deg);
          transform: rotate(250deg);
}

#bigBigWolf .hat .patch .line9 {
  top: .96rem;
  left: 2.176rem;
  width: .27733rem;
  -webkit-transform: rotate(230deg);
     -moz-transform: rotate(230deg);
       -o-transform: rotate(230deg);
          transform: rotate(230deg);
}

#bigBigWolf .hat .patch .line10 {
  top: .72533rem;
  left: 2.26133rem;
  width: .256rem;
  -webkit-transform: rotate(220deg);
     -moz-transform: rotate(220deg);
       -o-transform: rotate(220deg);
          transform: rotate(220deg);
}

#bigBigWolf .eye {
  top: 4.71467rem;
  left: 4.544rem;
  z-index: 20;
  width: 6.12267rem;
  height: 3.94667rem;
}

#bigBigWolf .eye .left,
#bigBigWolf .eye .right {
  z-index: 0;
  width: 2.58133rem;
  height: 2.58133rem;
  border: .064rem solid #181818;
  -webkit-border-radius: 1.30133rem;
     -moz-border-radius: 1.30133rem;
  background: #dbdbdb;
}

#bigBigWolf .eye .left {
  bottom: 0;
  left: 0;
}

#bigBigWolf .eye .right {
  top: 0;
  right: 0;
}

#bigBigWolf .eye .inner {
  top: .04267rem;
  left: .04267rem;
  z-index: 10;
  width: 2.432rem;
  height: 2.432rem;
  -webkit-border-radius: 1.216rem;
     -moz-border-radius: 1.216rem;
  background: #fff;
}

#bigBigWolf .eye .pupil {
  top: .55467rem;
  left: .17067rem;
  z-index: 20;
  width: 1.152rem;
  height: 1.152rem;
  border: .04267rem solid #181818;
  -webkit-border-radius: .576rem;
     -moz-border-radius: .576rem;
  background: #404972;
  background: -webkit-gradient(linear, 43% 0%, 39% 100%, from(#181818), to(#455289), color-stop(1, #455289));
  background: -moz-linear-gradient(50% 25% 260deg, #181818, #455289, #455289 100%);
  -webkit-animation: 'pupil' 2s linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pupil {
  0% {
    top: .55467rem;
    left: .17067rem;
  }
  25% {
    top: .704rem;
    left: .61867rem;
  }
  50% {
    top: .85333rem;
    left: 1.06667rem;
  }
  75% {
    top: .704rem;
    left: .61867rem;
  }
  100% {
    top: .55467rem;
    left: .17067rem;
  }
}
#bigBigWolf .eye .pupil .inner {
  top: .192rem;
  left: .192rem;
  z-index: 30;
  width: .768rem;
  height: .768rem;
  -webkit-border-radius: .384rem;
     -moz-border-radius: .384rem;
  background: #1a1a1a;
}

#bigBigWolf .eye .light1 {
  bottom: .064rem;
  left: .448rem;
  z-index: 40;
  width: .34133rem;
  height: .34133rem;
  -webkit-border-radius: .32rem .14933rem .21333rem .21333rem;
     -moz-border-radius: .42667rem .14933rem .42667rem .21333rem;
  background: #fff;
  -webkit-transform: rotate(320deg);
     -moz-transform: rotate(320deg);
       -o-transform: rotate(320deg);
          transform: rotate(320deg);
}

#bigBigWolf .eye .light2 {
  bottom: .23467rem;
  left: .14933rem;
  z-index: 40;
  width: .29867rem;
  height: .128rem;
  -webkit-border-top-left-radius: 10.66667rem 6.4rem;
  -moz-border-radius-topleft: .42667rem .42667rem;
  -webkit-border-top-right-radius: 6.4rem 4.26667rem;
  -moz-border-radius-topright: .64rem .42667rem;
  -webkit-border-bottom-right-radius: 2.13333rem 2.13333rem;
  -moz-border-radius-bottomright: .10667rem .10667rem;
  -webkit-border-bottom-left-radius: 2.13333rem 2.13333rem;
  -moz-border-radius-bottomleft: .10667rem .10667rem;
  background: #fff;
  -webkit-transform: rotate(285deg);
     -moz-transform: rotate(285deg);
       -o-transform: rotate(285deg);
          transform: rotate(285deg);
}

#bigBigWolf .eye .light3 {
  top: .08533rem;
  right: .04267rem;
  z-index: 40;
  width: .64rem;
  height: .27733rem;
  -webkit-border-top-left-radius: .85333rem .85333rem;
  -moz-border-radius-topleft: .85333rem .85333rem;
  -webkit-border-top-right-radius: 2.13333rem 1.06667rem;
  -moz-border-radius-topright: 2.13333rem 1.06667rem;
  -webkit-border-bottom-right-radius: .32rem .32rem;
  -moz-border-radius-bottomright: .32rem .32rem;
  -webkit-border-bottom-left-radius: .32rem .32rem;
  -moz-border-radius-bottomleft: .32rem .32rem;
  background: #fff;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}

#bigBigWolf .eyebrow {
  top: 3.69067rem;
  left: 3.98933rem;
  z-index: 70;
  width: 5.97333rem;
  height: 2.77333rem;
}

#bigBigWolf .eyebrow .left {
  top: 1.024rem;
  left: 0;
  z-index: 0;
  width: 2.34667rem;
  height: .85333rem;
  -webkit-border-top-left-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topleft: 8.53333rem 4.26667rem;
  -webkit-border-top-right-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topright: 8.53333rem 4.26667rem;
  background: #181818;
  -webkit-transform: rotate(330deg);
     -moz-transform: rotate(330deg);
       -o-transform: rotate(330deg);
          transform: rotate(330deg);
}

#bigBigWolf .eyebrow .left .inner {
  top: .42667rem;
  left: 0;
  z-index: 0;
  width: 2.56rem;
  height: .64rem;
  -webkit-border-top-left-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topleft: 8.53333rem 4.26667rem;
  -webkit-border-top-right-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topright: 8.53333rem 4.26667rem;
  background: #666b6f;
}

#bigBigWolf .eyebrow .left .eyebrow1,
#bigBigWolf .eyebrow .left .eyebrow2,
#bigBigWolf .eyebrow .right .eyebrow1 {
  top: .768rem;
  left: -px2rem(22);
  z-index: .21333rem;
  width: .46933rem;
  height: .04267rem;
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(86deg);
     -moz-transform: rotate(86deg);
       -o-transform: rotate(86deg);
          transform: rotate(86deg);
}

#bigBigWolf .eyebrow .left .eyebrow2 {
  top: .68267rem;
  left: -px2rem(15);
  width: .42667rem;
}

#bigBigWolf .eyebrow .right .eyebrow1 {
  top: .512rem;
  left: 1.984rem;
  width: .42667rem;
}

#bigBigWolf .eyebrow .right {
  top: -px2rem(3);
  right: .36267rem;
  z-index: 0;
  width: 2.13333rem;
  height: .85333rem;
  -webkit-border-top-left-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topleft: 8.53333rem 4.26667rem;
  -webkit-border-top-right-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topright: 8.53333rem 4.26667rem;
  background: #181818;
  -webkit-transform: rotate(355deg);
     -moz-transform: rotate(355deg);
       -o-transform: rotate(355deg);
          transform: rotate(355deg);
}

#bigBigWolf .eyebrow .right .inner {
  top: .42667rem;
  right: -px2rem(7);
  z-index: 0;
  width: 2.56rem;
  height: .64rem;
  -webkit-border-top-left-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topleft: 8.53333rem 4.26667rem;
  -webkit-border-top-right-radius: 8.53333rem 4.26667rem;
  -moz-border-radius-topright: 8.53333rem 4.26667rem;
  background: #666b6f;
}

#bigBigWolf .nose {
  right: 3.37067rem;
  bottom: 4.33067rem;
  z-index: 30;
  width: 1.57867rem;
  height: 1.57867rem;
  -webkit-border-radius: 3.41333rem .85333rem 3.41333rem .85333rem;
     -moz-border-radius: 3.41333rem .64rem 3.41333rem .85333rem;
  background: #4b4b4b;
  -webkit-transform: rotate(25deg);
     -moz-transform: rotate(25deg);
       -o-transform: rotate(25deg);
          transform: rotate(25deg);
}

#bigBigWolf .nose .outer {
  top: -px2rem(2);
  right: .02133rem;
  z-index: 0;
  width: 1.536rem;
  height: 1.536rem;
  -webkit-border-radius: 3.2rem .85333rem 3.2rem .85333rem;
     -moz-border-radius: 3.2rem .85333rem 3.2rem .85333rem;
  background: #181818;
  -webkit-transform: rotate(2deg);
     -moz-transform: rotate(2deg);
       -o-transform: rotate(2deg);
          transform: rotate(2deg);
}

#bigBigWolf .nose .inner {
  top: .27733rem;
  right: .384rem;
  z-index: 10;
  width: .512rem;
  height: .512rem;
  -webkit-border-radius: 3.2rem 1.06667rem 3.2rem 1.06667rem;
     -moz-border-radius: 3.2rem 1.06667rem 3.2rem 1.06667rem;
  background: #4f4f4f;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

#bigBigWolf .nose .light {
  top: .064rem;
  right: .34133rem;
  z-index: 20;
  width: .42667rem;
  height: .42667rem;
  -webkit-border-radius: 3.2rem 1.49333rem 3.2rem 1.49333rem;
     -moz-border-radius: 3.2rem 1.49333rem 3.2rem 1.49333rem;
  background: #fff;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

#bigBigWolf .mouth {
  right: 1.32267rem;
  bottom: 2.304rem;
  z-index: 50;
  width: 6.18667rem;
  height: 1.28rem;
  border: .064rem solid #181818;
  -webkit-border-top-left-radius: 14.93333rem 0;
  -moz-border-radius-topleft: 14.93333rem 0;
  -webkit-border-top-right-radius: 14.93333rem 0;
  -moz-border-radius-topright: 14.93333rem 0;
  -webkit-border-bottom-right-radius: 59.73333rem 25.6rem;
  -moz-border-radius-bottomright: 59.73333rem 25.6rem;
  -webkit-border-bottom-left-radius: 59.73333rem 25.6rem;
  -moz-border-radius-bottomleft: 59.73333rem 25.6rem;
  background: #fff;
  -webkit-transform: rotate(341deg);
     -moz-transform: rotate(341deg);
       -o-transform: rotate(341deg);
          transform: rotate(341deg);
}

#bigBigWolf .mouth .inner {
  right: -px2rem(3);
  bottom: .87467rem;
  z-index: 0;
  width: 6.16533rem;
  height: .42667rem;
  border: .064rem solid #181818;
  border-top: 0;
  -webkit-border-top-left-radius: 14.93333rem 0;
  -moz-border-radius-topleft: 14.93333rem 0;
  -webkit-border-top-right-radius: 14.93333rem 0;
  -moz-border-radius-topright: 14.93333rem 0;
  -webkit-border-bottom-right-radius: 166.4rem 32rem;
  -moz-border-radius-bottomright: 166.4rem 32rem;
  -webkit-border-bottom-left-radius: 166.4rem 32rem;
  -moz-border-radius-bottomleft: 166.4rem 32rem;
  background: #666b6f;
}

#bigBigWolf .tooth1,
#bigBigWolf .tooth2,
#bigBigWolf .tooth3,
#bigBigWolf .tooth4,
#bigBigWolf .tooth5,
#bigBigWolf .tooth6,
#bigBigWolf .tooth7,
#bigBigWolf .tooth8,
#bigBigWolf .tooth9,
#bigBigWolf .tooth10,
#bigBigWolf .tooth11,
#bigBigWolf .tooth12,
#bigBigWolf .tooth13,
#bigBigWolf .tooth14,
#bigBigWolf .tooth15,
#bigBigWolf .tooth16,
#bigBigWolf .tooth17,
#bigBigWolf .tooth18,
#bigBigWolf .tooth19,
#bigBigWolf .tooth20,
#bigBigWolf .tooth121,
#bigBigWolf .tooth122,
#bigBigWolf .tooth123 {
  top: .384rem;
  left: -px2rem(1);
  z-index: 1.28rem;
  width: .42667rem;
  height: .04267rem;
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(26deg);
     -moz-transform: rotate(26deg);
       -o-transform: rotate(26deg);
          transform: rotate(26deg);
}

#bigBigWolf .tooth2 {
  top: .256rem;
  left: .27733rem;
  width: .46933rem;
  -webkit-transform: rotate(125deg);
     -moz-transform: rotate(122deg);
       -o-transform: rotate(125deg);
          transform: rotate(125deg);
}

#bigBigWolf .tooth3 {
  top: .36267rem;
  left: .384rem;
  width: .64rem;
  -webkit-transform: rotate(76deg);
     -moz-transform: rotate(76deg);
       -o-transform: rotate(76deg);
          transform: rotate(76deg);
}

#bigBigWolf .tooth4 {
  top: .55467rem;
  left: .768rem;
  width: .192rem;
  -webkit-transform: rotate(340deg);
     -moz-transform: rotate(340deg);
       -o-transform: rotate(340deg);
          transform: rotate(340deg);
}

#bigBigWolf .tooth5 {
  top: .64rem;
  left: .85333rem;
  width: .256rem;
  -webkit-transform: rotate(70deg);
     -moz-transform: rotate(70deg);
       -o-transform: rotate(70deg);
          transform: rotate(70deg);
}

#bigBigWolf .tooth6 {
  top: .74667rem;
  left: .98133rem;
  width: .29867rem;
  -webkit-transform: rotate(12deg);
     -moz-transform: rotate(12deg);
       -o-transform: rotate(12deg);
          transform: rotate(12deg);
}

#bigBigWolf .tooth7 {
  top: .78933rem;
  left: 1.23733rem;
  width: .512rem;
  -webkit-transform: rotate(12deg);
     -moz-transform: rotate(12deg);
       -o-transform: rotate(12deg);
          transform: rotate(12deg);
}

#bigBigWolf .tooth8,
#bigBigWolf .tooth10 {
  top: .34133rem;
  left: .448rem;
  width: .42667rem;
  height: .02133rem;
  background: #fff;
  -webkit-transform: rotate(76deg);
     -moz-transform: rotate(76deg);
       -o-transform: rotate(76deg);
          transform: rotate(76deg);
}

#bigBigWolf .tooth9,
#bigBigWolf .tooth11,
#bigBigWolf .tooth12 {
  top: .32rem;
  left: .29867rem;
  width: .42667rem;
  height: .02133rem;
  background: #fff;
  -webkit-transform: rotate(122deg);
     -moz-transform: rotate(122deg);
       -o-transform: rotate(122deg);
          transform: rotate(122deg);
}

#bigBigWolf .tooth10 {
  top: .384rem;
  left: .448rem;
  height: .04267rem;
}

#bigBigWolf .tooth11 {
  top: .42667rem;
  left: .29867rem;
  height: .064rem;
}

#bigBigWolf .tooth12 {
  top: .384rem;
  left: .27733rem;
  height: .04267rem;
}

#bigBigWolf .tooth13 {
  top: .36267rem;
  left: 5.76rem;
  width: .384rem;
  -webkit-transform: rotate(335deg);
     -moz-transform: rotate(335deg);
       -o-transform: rotate(335deg);
          transform: rotate(335deg);
}

#bigBigWolf .tooth14 {
  top: .23467rem;
  left: 5.41867rem;
  width: .46933rem;
  -webkit-transform: rotate(55deg);
     -moz-transform: rotate(55deg);
       -o-transform: rotate(55deg);
          transform: rotate(55deg);
}

#bigBigWolf .tooth15 {
  top: .34133rem;
  left: 5.16267rem;
  width: .61867rem;
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}

#bigBigWolf .tooth16 {
  top: .53333rem;
  left: 5.184rem;
  width: .27733rem;
  -webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}

#bigBigWolf .tooth17 {
  top: .61867rem;
  left: 5.056rem;
  width: .23467rem;
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}

#bigBigWolf .tooth18 {
  top: .768rem;
  left: 4.672rem;
  width: .512rem;
  -webkit-transform: rotate(165deg);
     -moz-transform: rotate(165deg);
       -o-transform: rotate(165deg);
          transform: rotate(165deg);
}

#bigBigWolf .tooth19,
#bigBigWolf .tooth21,
#bigBigWolf .tooth23 {
  top: .32rem;
  left: 5.44rem;
  width: .46933rem;
  height: .02133rem;
  background: #fff;
  -webkit-transform: rotate(55deg);
     -moz-transform: rotate(55deg);
       -o-transform: rotate(55deg);
          transform: rotate(55deg);
}

#bigBigWolf .tooth20,
#bigBigWolf .tooth22 {
  top: .36267rem;
  left: 5.26933rem;
  width: .46933rem;
  height: .02133rem;
  background: #fff;
  -webkit-transform: rotate(100deg);
     -moz-transform: rotate(100deg);
       -o-transform: rotate(100deg);
          transform: rotate(100deg);
}

#bigBigWolf .tooth21 {
  top: .34133rem;
  left: 5.44rem;
  height: .04267rem;
}

#bigBigWolf .tooth22 {
  top: .40533rem;
  left: 5.29067rem;
  height: .08533rem;
}

#bigBigWolf .tooth23 {
  top: .40533rem;
  left: 5.44rem;
  height: .04267rem;
}

#bigBigWolf .beard {
  bottom: 1.06667rem;
  left: 4.05333rem;
  z-index: 80;
  width: 7.89333rem;
  height: 4.26667rem;
}

#bigBigWolf .beard1,
#bigBigWolf .beard2,
#bigBigWolf .beard3,
#bigBigWolf .beard4,
#bigBigWolf .beard5,
#bigBigWolf .beard6,
#bigBigWolf .beard7,
#bigBigWolf .beard8,
#bigBigWolf .beard9,
#bigBigWolf .beard10,
#bigBigWolf .beard11,
#bigBigWolf .beard12 {
  top: .68267rem;
  right: -px2rem(1);
  z-index: 0;
  width: .85333rem;
  height: .04267rem;
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
       -o-transform: rotate(3deg);
          transform: rotate(3deg);
}

#bigBigWolf .beard2 {
  top: 1.45067rem;
  right: .49067rem;
  width: .512rem;
  -webkit-transform: rotate(355deg);
     -moz-transform: rotate(355deg);
       -o-transform: rotate(355deg);
          transform: rotate(355deg);
}

#bigBigWolf .beard3 {
  top: 1.92rem;
  right: .72533rem;
  width: .46933rem;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
}

#bigBigWolf .beard4 {
  top: 2.56rem;
  right: 1.152rem;
  width: .59733rem;
  -webkit-transform: rotate(50deg);
     -moz-transform: rotate(50deg);
       -o-transform: rotate(50deg);
          transform: rotate(50deg);
}

#bigBigWolf .beard5 {
  top: 2.816rem;
  right: 1.89867rem;
  width: .46933rem;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}

#bigBigWolf .beard6 {
  top: 3.15733rem;
  right: 2.45333rem;
  width: .34133rem;
  -webkit-transform: rotate(70deg);
     -moz-transform: rotate(70deg);
       -o-transform: rotate(70deg);
          transform: rotate(70deg);
}

#bigBigWolf .beard7 {
  top: 3.456rem;
  right: 3.09333rem;
  width: .512rem;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

#bigBigWolf .beard8 {
  top: 3.54133rem;
  right: 3.73333rem;
  width: .34133rem;
  -webkit-transform: rotate(110deg);
     -moz-transform: rotate(110deg);
       -o-transform: rotate(110deg);
          transform: rotate(110deg);
}

#bigBigWolf .beard9 {
  top: 3.69067rem;
  right: 4.48rem;
  width: .46933rem;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
       -o-transform: rotate(60deg);
          transform: rotate(60deg);
}

#bigBigWolf .beard10 {
  top: 3.69067rem;
  right: 5.22667rem;
  width: .29867rem;
  -webkit-transform: rotate(130deg);
     -moz-transform: rotate(130deg);
       -o-transform: rotate(130deg);
          transform: rotate(130deg);
}

#bigBigWolf .beard11 {
  top: 3.584rem;
  right: 5.86667rem;
  width: .42667rem;
  -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
       -o-transform: rotate(120deg);
          transform: rotate(120deg);
}

#bigBigWolf .beard12 {
  top: 3.328rem;
  right: 6.4rem;
  width: .34133rem;
  -webkit-transform: rotate(140deg);
     -moz-transform: rotate(140deg);
       -o-transform: rotate(140deg);
          transform: rotate(140deg);
}

#bigBigWolf .scar,
#bigBigWolf .scar1,
#bigBigWolf .scar2,
#bigBigWolf .scar3,
#bigBigWolf .scar4,
#bigBigWolf .scar5 {
  bottom: 3.28533rem;
  left: 3.02933rem;
  z-index: 1.28rem;
  width: 2.56rem;
  height: .04267rem;
  background: #181818;
  font-size: 0;
  -webkit-transform: rotate(43deg);
     -moz-transform: rotate(43deg);
       -o-transform: rotate(43deg);
          transform: rotate(43deg);
}

#bigBigWolf .scar1 {
  top: -px2rem(5);
  left: -px2rem(2);
  width: .53333rem;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

#bigBigWolf .scar2 {
  top: .04267rem;
  left: .42667rem;
  width: .61867rem;
  -webkit-transform: rotate(80deg);
     -moz-transform: rotate(80deg);
       -o-transform: rotate(80deg);
          transform: rotate(80deg);
}

#bigBigWolf .scar3 {
  top: -px2rem(2);
  left: 1.06667rem;
  width: .61867rem;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

#bigBigWolf .scar4 {
  top: -px2rem(4);
  left: 1.57867rem;
  width: .46933rem;
  -webkit-transform: rotate(92deg);
     -moz-transform: rotate(92deg);
       -o-transform: rotate(92deg);
          transform: rotate(92deg);
}

#bigBigWolf .scar5 {
  top: -px2rem(2);
  left: 2.02667rem;
  width: .53333rem;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
