//the width of the design , you can change it
$designWidth : 750;

//transform px to rem;
@function px2rem( $px ){
	//320*50/750/20
	@return $px*320/$designWidth/20 + rem;
}

@mixin flexbox{
	display: -webkit-box; //old
	display: -moz-box; //old
	display: -ms-flexbox; // ie
	display: -webkit-flex; //new
	display: flex; //new
}

@mixin flex( $value ){
	-webkit-box-flex: $value;
	-moz-box-flex: $value;
	-ms-flex: $value;
	-webkit-flex: $value;
	flex: $value;
}

@mixin flex-order( $order ){
	-webkit-box-ordinal-group: $order; // old
	-moz-box-ordinal-group: $order; // old
	-ms-flex-order: $order; // ie
	-webkit-order: $order; // new
	order: $order; // new
}

@mixin flex-direction($direction){
	@if $direction == column{
		-webkit-flex-direction:vertical;
		-moz-flex-direction:vertical;
		-ms-flex-direction:column;
		-webkit-flex-direction:column;
		flex-direction:column;
	}@else{
		-webkit-flex-direction:horizontal;
		-moz-flex-direction:horizontal;
		-ms-flex-direction:row;
		-webkit-flex-direction:row;
		flex-direction:row;
	}
 }

@mixin animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-o-animation: $value;
	animation: $value;
}
@mixin appearance($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;	
}
@mixin backface-visibility($value:visible) {
	-webkit-backface-visibility: $value;;
	-moz-backface-visibility: $value;;
	-ms-backface-visibility: $value;;	
	backface-visibility: $value;	
}
@mixin background-clip($mode: border-box) {
	$xmode: null;

	@if ($mode == border-box) {
		$xmode: border;
	}

	@if ($mode == padding-box) {
		$xmode: padding;
	}

	@if ($mode == content-box) {
		$xmode: content;
	}

	-moz-background-clip: $xmode;
	-webkit-background-clip: $xmode;
	background-clip: $mode; 	
}
@mixin background-origin($mode: border-box) {
	$xmode: null;

	@if ($mode == border-box) {
		$xmode: border;
	}

	@if ($mode == padding-box) {
		$xmode: padding;
	}

	@if ($mode == content-box) {
		$xmode: content;
	}

	-moz-background-origin: $xmode;
	-webkit-background-origin: $xmode;
	background-origin: $mode; 	
}
@mixin background-retina($img_1x, $img_2x, $width_1x, $height_1x) {
	background-image: url($img_1x);

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
		background-image: url($img_2x);
		@include background-size($width_1x $height_1x);
	}	
}
@mixin background-size($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}
@mixin border-radius($radius, $direction:all) {
	@if ($direction == all) {
	    -moz-border-radius: $radius;
	    -webkit-border-radius: $radius;
	    border-radius: $radius;
	}

	@if ($direction == top) {
	    -moz-border-radius: $radius $radius 0 0;
	    -webkit-border-radius: $radius $radius 0 0;
	    border-radius: $radius $radius 0 0;
	}

	@if ($direction == right) {
	    -moz-border-radius: 0 $radius $radius 0;
	    -webkit-border-radius: 0 $radius $radius 0;
	    border-radius: 0 $radius $radius 0;
	}

	@if ($direction == bottom) {
	    -moz-border-radius: 0 0 $radius $radius;
	    -webkit-border-radius: 0 0 $radius $radius;
	    border-radius: 0 0 $radius $radius;
	}

	@if ($direction == left) {
	    -moz-border-radius: $radius 0 0 $radius;
	    -webkit-border-radius: $radius 0 0 $radius;
	    border-radius: $radius 0 0 $radius;
	}
}

@mixin border-triangle($borderWidth, $borderColor, $direction) {
	$default-border-style: solid;

	width: 0;
	height: 0;
	overflow: hidden;
	border-width: $borderWidth;
	border-style: $default-border-style;
	_border-style: dashed;
	border-color: transparent;

	@if ($direction == top) {
		border-bottom-color: $borderColor;
		_border-bottom-style: $default-border-style;
	}

	@if ($direction == right) {
		border-left-color: $borderColor;
		_border-left-style: $default-border-style;
	}

	@if ($direction == bottom) {
		border-top-color: $borderColor;
		_border-top-style: $default-border-style;
	}

	@if ($direction == left) {
		border-right-color: $borderColor;
		_border-right-style: $default-border-style;
	}

	@if ($direction == topleft) {
		border-top-color: $borderColor;
		border-left-color: $borderColor;
		_border-top-style: $default-border-style;
		_border-left-style: $default-border-style;
	}

	@if ($direction == topright) {
		border-top-color: $borderColor;
		border-right-color: $borderColor;
		_border-top-style: $default-border-style;
		_border-right-style: $default-border-style;
	}

	@if ($direction == bottomleft) {
		border-bottom-color: $borderColor;
		border-left-color: $borderColor;
		_border-bottom-style: $default-border-style;
		_border-left-style: $default-border-style;
	}

	@if ($direction == bottomright) {
		border-bottom-color: $borderColor;
		border-right-color: $borderColor;
		_border-bottom-style: $default-border-style;
		_border-right-style: $default-border-style;
	}
}
@mixin box-shadow($param) {
 	   -moz-box-shadow: $param;
 	-webkit-box-shadow: $param; 
  	        box-shadow: $param;	
}
@mixin box-sizing($model) {
	-webkit-box-sizing: $model;
	   -moz-box-sizing: $model;
	        box-sizing: $model;
}
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}
@mixin font-face($fontName, $noSuffixFontUrl) {
	@font-face {
	  font-family: "#{$fontName}";
	  src: url("#{$noSuffixFontUrl}.eot");
	  src: url("#{$noSuffixFontUrl}.eot?#iefix") format("embedded-opentype"),
	       url("#{$noSuffixFontUrl}.woff") format("woff"),
	       url("#{$noSuffixFontUrl}.ttf")  format("truetype"),
	       url("#{$noSuffixFontUrl}.svg#svgFontName") format("svg");
	}	
}
@mixin grayscale() {
	/* for Chrome, Safari, Opera */
	-webkit-filter: grayscale(100%);
	/* CSS3 standard usage */
    filter: grayscale(100%);
    /* for FF, data-uri generate from gray.svg */
    filter: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJncmF5c2NhbGUiPgogICAgICAgIDxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#grayscale');
    /* for IE6~9 */
	filter: gray;
}
@mixin hyphens($mode:auto) {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: $mode;
	-moz-hyphens: $mode;
	-ms-hyphens: $mode;
	hyphens: $mode;	
}
@mixin inline-block() {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
@mixin linear-gradient($arguments...) {

	@if (length($arguments) == 2) {
		$arguments: join(unquote("to bottom"), $arguments, comma);
	}

	$map: ("to top": bottom, 
			"to right": left, 
			"to bottom": top, 
			"to left": right,
			"0deg": bottom,
			"90deg": left,
			"180deg": top,
			"270deg": right);

	$iemap: ("to top": 0, 
			"to right": 1, 
			"to bottom": 0, 
			"to left": 1,
			"0deg": 0,
			"90deg": 1,
			"180deg": 0,
			"270deg": 1);

	$direction: inspect(nth($arguments, 1));
	$colorlist: str-slice(inspect($arguments), str-length($direction) + 2);
	$wkdirection: map-get($map, $direction);
	$iedirection: map-get($iemap, $direction);
	$startColor: null;
	$endColor: null;

	@if ($wkdirection == top) {
		$startColor: nth(nth($arguments, 2), 1);
		$endColor: nth(nth($arguments, 3), 1);
	} @else if ($wkdirection == left) {
		$startColor: nth(nth($arguments, 2), 1);
		$endColor: nth(nth($arguments, 3), 1);
	} @else if ($wkdirection == bottom) {
		$startColor: nth(nth($arguments, 3), 1);
		$endColor: nth(nth($arguments, 2), 1);
	} @else if ($wkdirection == right) {
		$startColor: nth(nth($arguments, 3), 1);
		$endColor: nth(nth($arguments, 2), 1);
	}
	
    background: -webkit-linear-gradient($wkdirection, $colorlist);
    background: linear-gradient($arguments);
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{$startColor},endcolorstr=#{$endColor},gradientType=#{$iedirection})");
}
@mixin min-height($height) {
	min-height: $height;
	_height: $height;
}
@mixin opacity($opacity) {
	$opacityIE: $opacity * 100;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacityIE); // IE 8 & 9
	filter: alpha(opacity=$opacityIE); // IE 6 & 7
	opacity: $opacity;
}
@mixin perspective-origin($origin:50% 50%) {
	-webkit-perspective-origin: $origin;
	-moz-perspective-origin: $origin;
	perspective-origin: $origin;
}
@mixin perspective($value:none) {
	-webkit-perspective: $value;
	-moz-perspective: $value;	
	perspective: $value;
}
@mixin placeholder($color) {
	&::-moz-placeholder {
		color: $color;
		opacity: 1;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color; 
	}
	&::-webkit-input-placeholder {
		color: $color; 
	}
}
@mixin radial-gradient($arguments...) {
    background: -webkit-radial-gradient($arguments);
    background: -moz-radial-gradient($arguments);
    background: -ms-radial-gradient($arguments);
    background: radial-gradient($arguments);	
}
@mixin text-overflow($cutway: clip) {
	overflow: hidden;
  	text-overflow: $cutway;
  	white-space: nowrap;
}
@mixin transform-origin($value: 50% 50% 0) {
	-webkit-transform-origin: $value;
	-moz-transform-origin: $value;
	-ms-transform-origin: $value;
	transform-origin: $value;
}
@mixin transform-style($value:flat) {
	-webkit-transform-style: $value;	
	-moz-transform-style: $value;	
	transform-style: $value;
}
@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;		
}
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;		
}
@mixin user-select($mode:text) {
	-webkit-user-select: $mode;
	-moz-user-select: $mode;
	-ms-user-select: $mode;
	user-select: $mode;  	
}