body {
  width: 16rem;
  margin: 0 auto;
  background: #f3ecd1 url(../img/body-bg11.jpg) repeat;
  background-size: cover;
}

.container {
  width: 100%;
}

.container .person {
  overflow: hidden;
  width: 14.61333rem;
  height: 9.23733rem;
  margin: 0 auto .42667rem;
  padding: .64rem 0 0 0;
}

#chenlongJpg {
  height: 8.53333rem;
}

#chenlongGif {
  height: 8.53333rem;
}

.text-cont {
  width: 15.36rem;
  height: 2.28267rem;
  margin: 0 auto .53333rem;
  background: url(../img/text.png) no-repeat;
  background-size: cover;
  font: .55467rem/.68267rem 'simhei';
  color: #fff6d1;
  text-align: center;
}

.text-cont .text {
  padding: .42667rem 1.70667rem;
}

.text-cont .num {
  font-size: .64rem;
  color: #ffdd54;
}

.text-cont .time {
  float: left;
  width: 3.2rem;
  height: 1.49333rem;
  margin-left: 1.06667rem;
  padding: 0 0 0 .96rem;
  background: url(../img/text-time-icon.png) no-repeat 0 50%;
  font: .81067rem/1.49333rem 'simhei';
  color: #ebe5ca;
}

.text-cont .time .time-num {
  float: left;
  margin-right: .10667rem;
  font: 1.152rem/1.49333rem 'Arial';
  color: #fff229;
}

.text-cont .num-list {
  float: right;
  width: 5.54667rem;
  margin-right: .85333rem;
  font: .81067rem/1.49333rem 'simhei';
}

.text-cont .num-list span {
  float: left;
}

.text-cont .num-list .num-bg {
  width: 1.06667rem;
  height: 1.51467rem;
  margin-right: .064rem;
  background: url(../img/text-num-bg.png) no-repeat;
  background-size: cover;
  font: 1.36533rem/1.49333rem 'Arial';
  color: #fff228;
  text-align: center;
}

.duang-cont {
  position: relative;
  width: 12.8rem;
  margin: 0 auto;
  margin-top: 1.28rem;
}

.record {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 1.06667rem;
  margin-top: -px2rem(5);
  font: .55467rem/1.06667rem 'simhei';
  color: #141f31;
  text-decoration: underline;
}

.btn-duang {
  display: block;
  width: 10.66667rem;
  height: 7.59467rem;
  margin: 0 auto;
  background: url(../img/btn-duang.png) no-repeat;
  background-size: cover;
  -webkit-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
          touch-callout: none;
}

.btn-duang .duang {
  position: relative;
  width: 100%;
  height: 100%;
}

.duang-cont .hand {
  position: absolute;
  top: 4.69333rem;
  right: .85333rem;
  width: 4.71467rem;
  height: 5.01333rem;
  background: url(../img/hand.png) no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  display: inline-block;
  width: 16rem;
  height: 2.816rem;
  background: url(../img/btn-bottom.png) no-repeat;
  background-size: 100% 2.816rem;
  font-size: 0;
}

.footer .btn {
  display: inline-block;
  width: 33%;
  padding-top: .42667rem;
  font: .85333rem/2.13333rem 'simhei';
  color: #e7ddb5;
}

@media (max-width: 640px) {
  .duang-cont {
    margin-top: 30px;
  }

  .duang-cont .hand {
    display: none;
  }
}
