body {
  margin: 0;
  padding: 0;
  background-color: #d0d0d0; }

* {
  box-sizing: border-box; }

#a {
  width: 16rem;
  height: 4.26667rem;
  border: 0.21333rem solid red; }

#b {
  width: 16rem;
  height: 100px;
  font-size: 30px;
  border: 1px solid blue; }
  #b .item {
    width: 3.94667rem;
    border: 1px solid yellow;
    float: left; }
