body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

#header {
  width: 16rem;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #33aa33;
  text-align: center;
  font-size: 1.2rem;
  color: white; }

#container1 {
  margin-top: 0.25rem;
  padding: 0.75rem;
  background-color: #191919;
  color: #f0f0f0;
  line-height: 1.7;
  max-height: 100%;
  font-size: 0.8rem; }

#container2 {
  margin-top: 0.25rem;
  padding: 0.75rem;
  background-color: #191919;
  color: #f0f0f0;
  line-height: 1.7;
  max-height: 100%;
  font-size: 12px; }
  [data-dpr="2"] #container2 {
    font-size: 24px; }
  [data-dpr="3"] #container2 {
    font-size: 36px; }
